.schedule {
  padding: 0 16px;

  .select-controller {
    padding-top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .text {
      font-weight: 600;
      font-size: 20px;
      line-height: 28px;
    }
  }

  .btn-container {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
  }
  .btn-box {
    display: flex;
    .btn {
      width: 50%;
      &.delete {
        margin-right: 16px;
        .button-wrap .button {
          color: #000;
          background-color: #ffffff;
          border:1px solid #EDEFF1;
        }
      }
    }
  }
}
